# Project files
*/*/*/static/bower_components/
*/*/*.db
*/*/data/
*/*/media/
*.py[cod]
__pycache__

# PIP virtualenv
sdm/

# Databases
*.sqlite3

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# OS Files
.DS_Store
/.project
