# Project files
*/*/settings/local.py
*/static/
*/media/
*.py[cod]

# C extensions
*.so

#databases
*.sqlite3

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# OS Files
.DS_Store
/.project
