{% extends 'layout.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Index' %}
{% endblock title %}

{% block content %}

    <h3>Server</h3>

    <ul>
        <li>Host: {{ storage.host }}</li>
        <li>Categories: {{ storage.categories|join:", " }}</li>
        <li>Parties: {{ storage.parties|join:", " }}</li>
    </ul>

    <h3>Record</h3>

    <ul>
        <li>ID: {{ storage.record_id }}</li>
        <li>Name: {{ storage.record_name }}</li>
        <li>Role: {{ storage.record_role }}</li>
    </ul>

    <h3>Keys</h3>

    <ul>
        <li>Master keys: {{ storage.master_keys|length }}</li>
        <li>Public keys: {{ storage.public_keys|length }}</li>
        <li>Secret keys: {{ storage.secret_keys|length }}</li>
    </ul>

{% endblock content %}