{% extends 'layout.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}
    {% trans 'Grant access' %}
{% endblock title %}

{% block content %}
    {% if categories|length > 0 %}
        <p>
            {% trans 'Select below which parties you want to grant access to.' %}
        </p>

        <div class="row">
            <div class="col-md-6">
                {% crispy form %}
            </div>
        </div>
    {% else %}
        <p class="alert alert-danger">
            {% trans 'You do not possess any keys to encrypt data with.' %}
        </p>
    {% endif %}
{% endblock content %}