{% load i18n static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <title>PHR Demo</title>

        <meta name="description" content="PHR demo system for the Secure Data Management course">
        <meta name="author" content="Bas Stottelaar, Rick van Gaalen, Jeroen Senden, Erwin Middelesch">

        {% if UNCOMPILED_RESOURCES %}
            <!-- Less -->
            <link rel="stylesheet/less" href="{% static 'bootstrap/less/bootstrap.less' %}">
            <script type="text/javascript" src="{% static 'lesscss/dist/less-1.4.2.less' %}"></script>
        {% else %}
            <!-- CSS -->
            <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/default.css' %}">
        {% endif %}

        <!-- jQuery -->
        {% if UNCOMPILED_RESOURCES %}
            <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
        {% else %}
            <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
        {% endif %}

        <!-- Favicons -->
        <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">

        {% block head %}{% endblock head %}
    </head>
    <body>
        {% block navbar %}
            <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-toggle"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'phr_cli.views.index' %}">PHR Demo</a>

                    {% if data_file %}
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'phr_cli.views.encrypt' %}">Add record item</a></li>

                            {% if data_file.record_role == "OWNER" %}
                                <li><a href="{% url 'phr_cli.views.share' %}">Share record</a></li>
                                <li><a href="{% url 'phr_cli.views.grant' %}">Manage access</a></li>
                            {% else %}
                                <li><a href="{% url 'phr_cli.views.retrieve' %}">Retrieve access</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        {% if data_file %}
                            <li><a href="{% url 'phr_cli.views.logout' %}">Log out</a></li>
                        {% else %}
                            <li><a href="{% url 'phr_cli.views.select' %}">Log in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endblock navbar %}

        <div class="container">
            {% block notifications %}
                <!-- Notification header -->

                {% if messages %}
                    <div class="notifications center top"></div>

                    <script type="text/javascript">
                        {% for message in messages %}
                            $(document).ready(function() {
                                $('.notifications.center.top').notify({
                                    message: { text: '{{ message }}' },
                                }).show();
                            });
                        {% endfor %}
                    </script>
                {% endif %}
            {% endblock notifications %}

            <!-- Page title -->
            <strong>
                {% block title %}{% endblock title %}
            </strong>
            <hr>

            <!-- Actual content -->
            {% block content %}{% endblock content %}
        </div>

        {% if UNCOMPILED_RESOURCES %}
            <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        {% else %}
            <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        {% endif %}
    </body>
</html>