{% extends 'layout.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Decrypted PHR record item' %}
{% endblock title %}

{% block content %}
    {% if message %}
        <p>
            {% trans 'Below is the content of the record item.' %}
        </p>

        <dl>
            <dt>{{ title }}</dt>
            <dd>{{ message }}</dd>
        </dl>
    {% else %}
        <p class="alert alert-danger">
            {% trans 'Unable to decrypt the message.' %}
        </p>
    {% endif %}
{% endblock content %}