{% extends 'layout.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Record items' %}
{% endblock title %}

{% block buttons %}
    <a class="btn btn-success" role="button" href="{% url 'phr_cli.views.record_items_create' %}">
        New record item
    </a>
{% endblock buttons %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Sender</th>
                <th>Title</th>
                <th>Attachment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record_item in record_items %}
                <tr>
                    <td>{{ record_item.id }}</td>
                    <td>{{ record_item.category }}</td>
                    {% if not record_item.sender %}
                        <td class="text-center" colspan="3"><em>{% trans '(encrypted)' %}</em></td>
                    {% else %}
                        <td>{{ record_item.sender }}</td>
                        <td>{{ record_item.title }}</td>
                        <td>{{ record_item.attachment|yesno:"yes,no" }}</td>
                    {% endif %}
                    <td><a href="{% url 'phr_cli.views.record_items_show' record_item.id %}">Decrypt</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}