{% extends 'layout.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Share secret keys' %}
{% endblock title %}

{% block content %}

    <p>
        {% blocktrans %}
            Copy the keys below and share them with others to connect them to
            this PHR.
        {% endblocktrans %}
    </p>

    <p class="alert alert-danger">
        {% blocktrans %}
            The keys below should be handled with care. They allow others to
            connect to this PHR and may provide read access to parts of this
            PHR.
        {% endblocktrans %}
    </p>

    {% for secret_key in secret_keys %}
        <h2>Secret key for {{ secret_key.party }}</h2>
        <textarea class="form-control" rows="3">{{ secret_key.data }}</textarea>
    {% endfor %}

{% endblock content %}