{% extends 'layout.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Select data file.' %}
{% endblock title %}

{% block content %}
    <p>
        {% trans 'Select a data file to work with.' %}
    </p>

    <form method="POST">
        {% csrf_token %}

        {{ form }}

        <input type="submit" value="{% trans 'Select' %}">
    </form>

    <a href="{% url 'phr_cli.views.create' %}">{% trans 'Create a new PHR record' %}</a>
    <a href="{% url 'phr_cli.views.connect' %}">{% trans 'Connect to a PHR record' %}</a>
{% endblock content %}