<h2>Register consultant</h2>
<form role="form">

  <div class="form-group">
    <label class="sr-only" for="usernamefield">Username</label>
    <input type="text" ng-model="user.username" class="form-control" id="usernamefield" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label class="sr-only" for="passwordfield">Password</label>
    <input type="password" ng-model="user.password" class="form-control" id="passwordfield" placeholder="Password">
  </div>
  <div class="form-group" ng-show="isGenerated">
  	<p>We have generated the following private key for you. Please save it in a secure location.</p>
  	<textarea class="form-control" ng-model="privKey" rows="12" readonly>
  		
  	</textarea>
  </div>
  <input type="hidden" ng-model="pubKey"/>
  <button ng-click="generateKey()" class="btn btn-default btn-lg">Generate key</button>
  <button ng-click="register()" ng-disabled="!isGenerated" class="btn btn-primary btn-lg">Register</button>
</form>