<div class="alert alert-danger" ng-show="errordata">
	{{errordata}}
</div>
<h1>Transactions</h1>

<table class="table table-striped" style="table-layout: fixed;">
	<thead>
		<tr>
			<th>Sender</th>
			<th>Receiver</th>
			<th>Amount</th>
			<th>Description</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="t in transactions track by t.date">
			<td>
				<div ng-show="!t.editMode">{{t.sender}}</div>
				<div ng-show="t.editMode"><input class="form-control" type="text" ng-model="t.sender"/></div>
			</td>
			<td>
				<div ng-show="!t.editMode">{{t.receiver}}</div>
				<div ng-show="t.editMode"><input class="form-control" type="text" ng-model="t.receiver"/></div>
			</td>
			<td>
				<div ng-show="!t.editMode">{{t.amount}}</div>
				<div ng-show="t.editMode"><input class="form-control" type="number" ng-model="t.amount"/></div>
			</td>
			<td>
				<div ng-show="!t.editMode">{{t.description}}</div>
				<div ng-show="t.editMode"><input class="form-control" type="text" ng-model="t.description"/></div>
			</td>
			<td>
				<div ng-show="!t.editMode">{{t.date}}</div>
			    <div ng-show="t.editMode">
			      <input type="date" class="form-control" type="text" ng-model="t.date"/>
			    </div>
			</td>
			<td>
				<div ng-show="!t.editMode">
					<button class="btn btn-xs btn-default" ng-click="t.editMode = true"><i class="glyphicon glyphicon-edit"/></button>
					<a class="btn btn-xs btn-default" ng-href="#/show/{{t.id}}"><i class="glyphicon glyphicon-eye-open"/></a>
				</div>
				<div ng-show="t.editMode" class="btn-group">
					<button class="btn btn-sm btn-success" ng-click="updateTransaction(t)"><i class="glyphicon glyphicon-floppy-disk"/></button>
					<button class="btn btn-sm btn-danger" ng-click="deleteTransaction(t)"><i class="glyphicon glyphicon-trash"/></button>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<button class="btn btn-primary" ng-disabled="isEditMode()" ng-click="createTransaction()"><i class="glyphicon glyphicon-plus"/> New Transaction</button>