<div ng-if="isConsultant" class="pull-right">
	Current client: {{clientName}}
	<a class="btn btn-sm btn-default" href="#/clients" >
		Switch clients
	</a>
</div>
<h1>Transactions</h1>

<form name="transactionsForm" novalidate>
<table class="table table-striped" style="table-layout: fixed;">
	<thead>
		<tr>
			<th>Sender</th>
			<th>Receiver</th>
			<th>Amount</th>
			<th>Description</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="t in transactions" class="transaction">
			<ng-form name="tForm">
				<td>
					<div ng-show="!t.editMode">{{t.sender}}</div>
					<div ng-show="t.editMode">
						<input class="form-control" type="text" ng-model="t.sender" name="sender" ng-required="true" placeholder="Name"/>
					</div>
				</td>
				<td>
					<div ng-show="!t.editMode">{{t.receiver}}</div>
					<div ng-show="t.editMode">
						<input class="form-control" type="text" ng-model="t.receiver" name="receiver" ng-required="true" placeholder="Name"/>
					</div>
				</td>
				<td>
					<div ng-show="!t.editMode">{{t.amount}}</div>
					<div ng-show="t.editMode"><input class="form-control" type="number" ng-model="t.amount" name="amount" ng-pattern="/^[1-9][0-9]*$/" placeholder="Amount > 0" ng-required="true"></div>
				</td>
				<td>
					<div ng-show="!t.editMode">{{t.description}}</div>
					<div ng-show="t.editMode"><input class="form-control" type="text" ng-model="t.description" name="description" ng-required="true" placeholder="Description"/></div>
				</td>
				<td>
					<div ng-show="!t.editMode">{{t.date}}</div>
				    <div ng-show="t.editMode">
				      <input type="date" class="form-control" type="text" name="date" ng-model="t.date" ng-pattern="/[0-9][0-9][0-9][0-9]\-[0-9][0-9]\-[0-9][0-9]/" ng-required="true"/>
				    </div>
				</td>
				<td>
					<div ng-show="!t.editMode">
						<button class="btn btn-xs btn-default" ng-click="t.editMode = true"><i class="glyphicon glyphicon-edit"/></button>
					</div>
					<div ng-show="t.editMode" class="btn-group">
						<button class="btn btn-sm btn-success" ng-click="updateTransaction(t)" ng-disabled="transactionsForm.$invalid">
							<i class="glyphicon glyphicon-floppy-disk"/>
						</button>
						<button class="btn btn-sm btn-danger" ng-click="deleteTransaction(t)">
							<i class="glyphicon glyphicon-trash"/>
						</button>
					</div>
				</td>
			</ng-form>
		</tr>
	</tbody>
</table>
</form>

<button class="btn btn-primary" ng-disabled="isEditMode()" ng-click="createTransaction()"><i class="glyphicon glyphicon-plus"/> New Transaction</button>