{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<script type="text/javascript">
	$(document).ready(function() {

		var data = {{transaction.data|safe}};
		var user_id = {{user.id}};

		$("#visible_form").on("submit", function(e) {
			e.preventDefault();

			var amount  = $("#visible_form input[name=amount]").val();
			var sender  = $("#visible_form input[name=sender]").val();
			var receiver  = $("#visible_form input[name=receiver]").val();
			var description  = $("#visible_form input[name=description]").val();
			var miliseconds = new Date().valueOf();

			var data  = {
				data: encrypt({"amount":amount,"sender":sender,"receiver":receiver,"description":description, "miliseconds":miliseconds}),
				amount_bucket: hash(amount),
				miliseconds_bucket: hash(miliseconds),
				client_bucket: clientMappingFunction(user_id)
			};

			//encrypt
			$("#hidden_form input[name=data]").val(JSON.stringify(data));
			$("#hidden_form").submit();
		});

		data = decrypt(data);

		var transaction = JSON.parse(data);
		addDataToForm(transaction["sender"], transaction["receiver"], transaction["amount"], transaction["description"]);

	});
</script>

<h2>Edit transaction {{transaction.id}}</h2>
<form id="visible_form" method="POST">

{{form | bootstrap}}

<input class="btn btn-lg btn-primary" type="submit">

</form>

<form id="hidden_form" method="POST" style="display:none">
{% csrf_token %}
{{form_hidden}}

</form>
{% endblock %}