{% extends "base.html" %}

{% block title %}My transactions{% endblock %}

{% block scripts %}
{% load staticfiles %}
<script>
	var data = {{ data | safe }};
</script>
<script src="{% static "custom-js/transaction_index.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<table id="output" class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Sender</th>
			<th>Receiver</th>
			<th>Amount</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>

<a href="{% url 'search.views.transaction_new' %}">New Transaction</a>
{% endblock %}