{% extends "base.html" %}

{% block content %}

<script type="text/javascript">

	var data = {{ transaction.data|safe }};

	$(document).ready(function() {		

		data = decrypt(data);
		addData(data);

	});

</script>
<h1>Transaction</h1>

<div id="output">
	<ul>
	<li>Sender: <div id="sender"></div></li>
	<li>Receiver: <div id="receiver"></div></li>
	<li>Amount: <div id="amount"></div></li>
	<li>Description: <div id="description"></div></li>
	<li>Date: <div id="miliseconds"></div></li>
	</ul>
</div>
{% endblock %}