{% extends "base.html" %}

{% block content %}
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

<script type="text/javascript">

	var data = {{ data|safe }};

	$(document).ready(function() {

		function addRow(id, sender, receiver, amount, description) {
			var container = $("#output tbody");

			container.append("<tr><td>" + id + "</td><td>" + sender + "</td><td>" + receiver + "</td><td>" + amount + "</td><td>" + description +"</td></tr>" );
		}
		function decrypt(data){
			return data;
		}

		data = decrypt(data);


		for (i in data) {
			var id = data[i]["id"]
			var transaction = JSON.parse(data[i]["data"]);
			addRow(id, transaction["sender"], transaction["receiver"], transaction["amount"], transaction["description"]);
		}

	});
</script>


<table id="output" class="table table-striped">

<thead>
<tr>
	<th>Id</th>
	<th>Sender</th>
	<th>Receiver</th>
	<th>Amount</th>
	<th>Description</th>
</tr>
</thead>
<tbody>

</tbody>
</table>

<a href="{% url 'search.views.transaction_new' %}">New Transaction</a>

{% endblock %}