input.ng-invalid {
	border: 1px solid red;
}

.page.ng-enter {
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.transaction.ng-enter {
	-webkit-animation: bounceInUp 0.5s;
	animation: bounceInUp 0.5s;
}

.transaction.ng-leave {
	-webkit-animation: bounceOutRight 0.5s;
	animation: bounceOutRight 0.5s;
}

.private-key.ng-hide-remove {
	-webkit-animation: fadeInUpBig 1s;
	animation: fadeInUpBig 1s;
}

.private-key-entry.ng-hide-remove {
	-webkit-animation: fadeInUp 0.6s;
	animation: fadeInUp 0.6s;
}